*{
    margin: 0;
    padding: 0;
}
html {
	height: 100%;
}
.chartContainer {
    display: flex;
}

.chart-1, .chart-2{
    flex: 0 0 50%;
    margin: 0 auto;
    width: 800px;
    margin-right: 10%;
}

.wrapper{
    display: flex;
}